---
layout: default
title: Blogy
---
	<h3>{{ page.title }}</h3>
	<ul class="posts">

	  {% for post in site.posts %}

	    <li><span>{{ post.date | date_to_string }}</span> »» <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>

			{% capture time %}{{ post.content | number_of_word | reading_time }}{% endcapture %}

			{% if time == '1' %} {% assign unit = "minútu" %}
			{% elsif time > '1' and time <= '4' %}{% assign unit = "minúty" %}
			{% else %}{% assign unit = "minút" %}{% endif %}

			Očakávaný čas čítania {{ time }} {{ unit }}
			<br>
			<br>
		{% endfor %}

<strong> Počet blogov celkovo: {{site.posts | size }} </strong>
